.contact-container{
    margin: 4em 6em;
}

.contact-container h1{
    font-size: 3em;
    text-shadow: 2px 4px 7px lightgray;
    margin-bottom: 1em;
}

.contact-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.contact-container input,
.contact-container textarea{
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 7px;
    font-size: 1.1em;
    border: 2px solid black;
    box-shadow: 3px 3px 6px gray;
}

.contact-container textarea{
    font-size: 1.2em;
}

.contact-container button{
    padding: 1em;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.5s ease-in-out;
}

.contact-container button:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
}

@media screen and (max-width:850px) {
    .contact-container{
        margin: 4em 2em;
    }
    .contact-container form{
        width: 80%;
    }
}